h2 {
  font-family: "Spartan", sans-serif;
  font-size: 2.5rem;
  color: #502050;
}

p {
  font-family: "Spartan", sans-serif;
  font-size: 0.75rem;
  line-height: 1.2rem;
}

body {
  background-color: white;
  height: 100vh;
  position: relative;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1000px;
  min-height: 400px;
  margin: 20px auto;
}

.container1 {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container1_intro {
  -webkit-box-flex: 1;
      -ms-flex: 1 400px;
          flex: 1 400px;
  min-height: 40px;
}

.container1_intro p {
  color: #502050;
  margin-top: -10px;
}

.container1_ratings {
  -webkit-box-flex: 1;
      -ms-flex: 1 600px;
          flex: 1 600px;
  height: 180px;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 0px 150px;
}

.ratings {
  background-color: #f7f2f7;
  color: #502050;
  font-weight: 800;
  width: 320px;
  text-align: center;
}

.ratings span {
  margin-right: 10px;
}

.ratings_rate2 {
  -webkit-animation: rate2 1s linear forwards;
          animation: rate2 1s linear forwards;
}

@-webkit-keyframes rate2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
}

@keyframes rate2 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
}

.ratings_rate3 {
  -webkit-animation: rate3 1s linear forwards;
          animation: rate3 1s linear forwards;
}

@-webkit-keyframes rate3 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
}

@keyframes rate3 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(120px);
            transform: translateX(120px);
  }
}

.container2 {
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  width: 28%;
  border-radius: 5px;
  padding: 30px 20px 20px 20px;
  background-color: #502050;
  color: white;
}

.card_card2 {
  -webkit-animation: card2 1s linear forwards;
          animation: card2 1s linear forwards;
}

@-webkit-keyframes card2 {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes card2 {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.card_card3 {
  -webkit-animation: card3 1s linear forwards;
          animation: card3 1s linear forwards;
}

@-webkit-keyframes card3 {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes card3 {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile_image img {
  width: 37px;
  height: auto;
  border-radius: 50px;
  margin-right: 20px;
}

.profile_author {
  font-size: 0.7rem;
  color: #ee68a4;
}

.profile_author p:first-of-type {
  font-size: 0.8rem;
  margin: 0px 0px -10px 0px;
  color: white;
}

.attribution {
  font-size: 1rem;
  text-align: center;
  margin-top: 100px;
}

.attribution a {
  color: red;
}
/*# sourceMappingURL=style.css.map */