//colors

$colorBg: hsl(0, 0%, 100%);
$colorRatingBg: hsl(300, 24%, 96%);
$colorCardBg: hsl(300, 43%, 22%);
$colorCardFont: hsl(333, 80%, 67%);
$colorDark: black;

//Font

$FontGeneral: 'Spartan', sans-serif;

// Typography
h2 {
    font-family: $FontGeneral;
    font-size: 2.5rem;
    color: $colorCardBg;
}
p {
    font-family: $FontGeneral;
    font-size: 0.75rem;
    line-height: 1.2rem;
}

body {
    background-color: $colorBg;
    height: 100vh;
    position: relative;
    margin: 0px;
    box-sizing: border-box;
}

//main styling

.container {
    // background-color: red;
    max-width: 1000px;
    min-height: 400px;
    margin: 20px auto;
}
.container1 {
    // background-color: yellow;
    min-height: 200px;
    display: flex;

    &_intro {
        // background-color: rgb(49, 207, 199);
        flex: 1 400px;
        min-height: 40px;

        p {
            color: $colorCardBg;
            margin-top: -10px;
        }
    }

    &_ratings {
        // background-color: rgb(167, 149, 129);
        flex: 1 600px;
        height: 180px;
        width: 100px;
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: space-between;
        padding: 0px 0px 0px 150px;
    }
}
.ratings {
    background-color: $colorRatingBg;
    color: $colorCardBg;
    font-weight: 800;
    width: 320px;
    text-align: center;

    span {
        margin-right: 10px;
    }

    &_rate1 {

    }
    &_rate2 {
        animation: rate2 1s linear forwards;

        @keyframes rate2 {
            from {transform:translateX(0px)}
            to {transform: translateX(60px)}
        }
    }
    &_rate3 {
        animation: rate3 1s linear forwards;

        @keyframes rate3 {
            from {transform:translateX(0px)}
            to {transform: translateX(120px)}
        }
    }
}
.container2 {
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    box-sizing: border-box;
}
.card {
    width: 28%;
    border-radius: 5px;
    padding: 30px 20px 20px 20px;
    background-color: $colorCardBg;
    color: $colorBg;

    &_card1 {

    }

    &_card2 {
        animation: card2 1s linear forwards;

        @keyframes card2 {
            from {transform:translateY(0px)}
            to {transform: translateY(20px)}
        }
    }

    &_card3 {
        animation: card3 1s linear forwards;

        @keyframes card3 {
            from {transform:translateY(0px)}
            to {transform: translateY(40px)}
        }
    }

}

.profile {
    display: flex;

    &_image {

        img {
            width: 37px;
            height: auto;
            border-radius: 50px;
            margin-right: 20px;
        }
    }

    &_author {
        font-size: 0.7rem;
        color: $colorCardFont;

        p:first-of-type {
            font-size: 0.8rem;
            margin: 0px 0px -10px 0px;
            color: $colorBg;
        }
    }
}











.attribution {
    font-size: 1rem;
    text-align: center;
    margin-top: 100px;
  }
  .attribution a {
    color: red;
  }